html {
  color: white;
  background-color: #22223b;
}

h1 {
  font-size: 38px;
  text-align: center;
}
h2 {
  font-size: 26px;
  text-align: center;
}

p {
  font-size: 22px;
  text-align: center;
}

fieldset {
  font-size: 26px;
  padding-inline-end: 10px;
  background-image: linear-gradient(#22223b, #f2e9e4);
  margin-top: 50px;
  margin-left: 250px;
  margin-right: 250px;
  border-radius:3px;
}

.row {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.js-options {
  margin-left: 40%;  
}

button {
  margin-top:25px;
  margin-left: 40%;  
  height: auto;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: white;
  background: #22223b;
  cursor: pointer;
  border-radius:3px;
  padding: 10px 20px;
}

.question-and-score ul {
  text-align:center;
}

.question-and-score li {
  display: inline-block;
}

.right-answer {
 color: #1a4301;
 padding: 10px 20px;
 margin: 0;
}

.wrong-answer {
color: #4f000b;
 padding: 10px 20px;
 margin: 0;
}

@media only screen and (max-width: 1000px) {
  fieldset {
    margin: 0px;
  }
    
}

@media only screen and (max-width: 600px) {
  fieldset {
    margin: 0px;
  }
  .js-options {
    margin-left: 30%;  
  
  }  
  button {
    margin-left: 30%; 
  }
}


